.page-container {
  width: 800px;
  height: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.filter-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: left;
}

.button-container {
    padding-top: 8px;
}

// .filter-container>* {
//   flex: 0 0 160px;
//   margin-left: 20px;
//   margin-right: 20px;
// }

.spacer {
  flex: 1 1 auto;
  padding-top: 20px;
}

button {
  margin: 6px;
}
